@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #FFD58A;
    /* Main color */
    --secondary-color: #b6d7a8;
    /* Pastel secondary color */
    --accent-color: #9ab8c2;
    /* Pastel accent color */
    --text-color: #333333;
    /* Light charcoal text color */
}

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
}

/* main */
main {
    padding-top: 90px;
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 1013px) {
    main {
        width: 100%;
        margin: 10px;
    }
}

/* SideNav */
.sideNav {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-right: 10px;
    padding-top: 30px;
    padding-right: 10px;
    width: 250px;
}

/* side nav title */
.sideNav p {
    margin: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
}

/* side nav options */
.sideNav button {
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid var(--text-color);
    cursor: pointer;
    padding: 18px;
    margin: 2px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    box-shadow: var(--shadow);
}

.sideNav button:hover {
    color: var(--accent-color);
    border-bottom: 1.5px solid var(--accent-color);
}

.sideNav .selected {
    font-weight: 800;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.sideNav .selected:hover {
    border-bottom: 2px solid var(--accent-color);
}


/* mobile */
.close-button {
    display: none;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

@media (max-width: 1013px) {
    .sideNav {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 300px;
        padding: 50px 5% 0 5%;
        background-color: white;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }

    .close-button {
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        z-index: 1001;
    }

    .close-button span {
        font-size: 40px;
        /* font-weight: bold; */
    }

    .hamburger-menu {
        display: block;
    }

}

@media (max-width: 450px) {
    .topNav p {
        display: none;
    }
}

/* info box */
.infoBox {
    margin-top: 20px;
    width: 80%;
    padding: 15px;
}

#infoBoxMessages, #infoBoxUsers{
    display: none;
}

.infoBox table {
    width: 100%;
    border-collapse: collapse;
}

.infoBox table thead {
    text-align: left;
}

.infoBox table td,
.infoBox table th {
    padding: 8px;
    text-align: left;
}

.infoBox table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* #dataMessagesChartBody tr{
    height: 100px;
    overflow: hidden;
} */

.infoBox table tr:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
}

.infoBox table th {
    background-color: white;
    height: 50px;
}

.infoBox table .email{
    overflow-x: auto;
    white-space: nowrap;
}

.infoBox table .message {
    overflow-y: auto;
        max-height: 80px;
}

.infoBox table td button{
    padding: 4px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border: transparent;
    background-color: transparent;
}

.delete-button:hover{
        color: red;
        text-shadow: 1px 1px 2px black;
}

.reply-button:hover {
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px black;
}

.navigationButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.navigationButtons button{
    height: 30px;
    width: 30px;
    border: transparent;
    margin: 10px;
    padding: 5px;
    background-color: var(--text-color);
    color: white;
    border-radius: 5px;
        cursor: pointer;
}